
  .red{
background-color: #ff8f8f;
}
.purple{
background-color: #da70d6 ;
}
.yellow{
background-color:#ffd700 ;
}
.blue{
background-color: #7b68ee;
}
.green{
background-color: #2e8b57;
}
.brown{
background-color: #a0522d;
}
.pink{
background-color: #ffbada;
}
.goldenbrown{
background-color: #daa520;
}
.white{
background-color: #fffafa;
}
.lightblue{
background-color: #6495ed ;
}
.offwhite{
background-color: ;
}
.pink {
  background-color:#ffb6c1;
}
